<p>名前：<%= @user.name %></p> <br>
<p>メールアドレス：<%= @user.email %></p> <br>
<p>残業単価（普通）：<%= @user.rowrate %>円</p> <br>
<p>残業単価（深夜）：<%= @user.highrate %>円</p> <br>
<p>締め日：<%= @user.expiredy %>日</p> <br>
<br>

<% if @overtimeinfos.any? %>
  <h3>残業データ (当月分)</h3>
  
  <% totalovertime = 0.0 %>
  <% totalextratime = 0.0 %>
  <% @overtimeinfos.each do |overtimeinfo| %>
    <% totalovertime += overtimeinfo.overtime %>
    <% totalextratime += overtimeinfo.extratime %>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <p>残業時間合計：<%= totalovertime + totalextratime %>h</p>
      <p>残業代合計：<%= (totalovertime*@user.rowrate) + (totalextratime*@user.highrate) %>円</p>
      
    </div>
  </div>
  
  <p>
    <%= label_tag :taisy, '対象月:' %>
    <%= date_field_tag  :born %>
  </p>
      
  <%= link_to "過去データを参照", user_path(@user.id, :born_on => :born), user:@user, :method => :past %><br>
  
<% end %>