<h2>残業時間入力</h2>

  <div class="col-md-6">
    <%= form_for(@overtimeinfo) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :日付 %>
      <%= f.date_select :created_at, {:use_month_numbers => true, start_year:2018, end_year:(Time.now.year)}, class: 'form-control' %>

      <%= f.label :普通 %>
      <%= f.number_field :overtime, step:0.1, class: 'form-control' %>

      <%= f.label :深夜 %>
      <%= f.number_field :extratime, step:0.1, class: 'form-control' %>

      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>

  </div>
  